<!doctype html>
<html
  lang="{{ with site.Params.isoCode | default (site.LanguageCode | default " en") }}{{- . -}}{{ end }}"
  dir="{{ if site.Params.rtl | default false -}}
    rtl
  {{- else -}}
    ltr
  {{- end }}"
  class="scroll-smooth"
  data-default-appearance="{{ site.Params.defaultAppearance | default " light" }}"
  data-auto-appearance="{{ site.Params.autoSwitchAppearance | default " true" }}">
  <body>
    <header>
        <!-- {{ partial "header.html" . }} -->
        Should load partial but can't find it :-)
    </header>
    <main>
        {{ block "main" . }}
          This will be replaced with content from the
          corresponding "define" action found in the template
          to which this base template is applied.
        {{ end }}
    </main>
    <footer>
        {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
