<!DOCTYPE html>
<html lang="{{ site.Language.Lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=1280">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} — {{ site.Title }}{{ end }}</title>
  {{ with site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}

  {{ $css := resources.Get "css/imagilux.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">

  <link rel="icon" type="image/svg+xml" href="/images/logoDark.svg">
</head>
<body>
{{ block "main" . }}{{ end }}
</body>
</html>
